# Primary CMake build target
/Build/

# Other common build targets
/build*/
/Build*/
/Bin/
/bin/
/Lib/
/lib/
/out/

# Distribution target
/Distribution/

# Ignore MacOSX directory info
.DS_Store

# VS user project files
.vs/
*.suo
*.user
*.opensdf
*.dir/
Win32/
x64/
CMakeSettings.json

# finn changes

Include/RmlUi/Core/Context.h
Include/RmlUi/Core/Core.h

Source/Core/FinnInternal.cpp
Source/Core/FinnInternal.h
Source/Core/FinnShits.cpp
Source/Core/FinnShits.h
Source/Core/Context.cpp
Source/Core/Core.cpp